<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>524107650640-7vrk0p63tb5iusflnkrpfkj05toah7p2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524107650640-7vrk0p63tb5iusflnkrpfkj05toah7p2</string>
	<key>API_KEY</key>
	<string>AIzaSyAVRq-2A5uBKkETf-6-o3m3-hhwAEJU_C8</string>
	<key>GCM_SENDER_ID</key>
	<string>524107650640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aksara</string>
	<key>PROJECT_ID</key>
	<string>aksara-78d63</string>
	<key>STORAGE_BUCKET</key>
	<string>aksara-78d63.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524107650640:ios:75909b52313c53b8b3e355</string>
</dict>
</plist>